@model Exercise_Tracker_v2.Models.Exercise

<h1>Create a New Exercise</h1>

<hr />

<form method="post" action="/Exercise/AddExercise">
    <div>
        <label for="dateStart">Start Date</label>
        <input id="dateStart" name="DateStart" type="text" value="@Model.DateStart" />
    </div>
    <div>
        <label for="dateEnd">End Date</label>
        <input id="dateEnd" name="DateEnd" type="text" value="@Model.DateEnd" />
    </div>
    <div>
        <label for="duration">Duration</label>
        <input id="duration" name="Duration" type="text" value="@Model.Duration" />
    </div>
    <div>
        <label for="comments">Comments</label>
        <textarea id="comments" name="Comments">@Model.Comments</textarea>
    </div>
    <input type="submit" value="Create" />
</form>