@model Exercise

<h2>Edit Exercise</h2>

<form asp-controller="Exercise" asp-action="UpdateExercise" method="post">
    <input type="hidden" asp-for="Id"/>
    <div class="form-group">
        <label for="DateStart">Start Date:</label>
        <input type="date" id="DateStart" name="DateStart" class="form-control" asp-format="{0:yyyy-MM-dd}"/>
    </div>
    <div class="form-group">
        <label for="DateEnd">End Date:</label>
        <input type="date" id="DateEnd" name="DateEnd" class="form-control" asp-format="{0:yyyy-MM-dd}"/>
    </div>
    <div class="spacer">
        <label for="duration">Duration (hours)</label>
        <input id="duration" name="Duration" type="number" min="0" max="24" value="@Model.Duration"/>
    </div>
    <div class="spacer">
        <label for="comments">Comments</label>
        <textarea id="comments" name="Comments">@Model.Comments</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

<style>
    .spacer {
        margin-bottom: 50px;
    }
</style>